/*  
  Developer : Pedro Valverde
  GIT : http://github.com/pkdor509/lalala
  Purpose : Display the public photo albums of a Facebook Page (Fanpage)
  Version : 1.0
*/

  /**** Transitions ****/
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: width, height;
     -moz-transition-property: width, height;
      -ms-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

.box {
  margin: 5px;
  padding: 5px;
  background: #FDFAF8;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  border-radius: 5px;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}

.col1 { width: 40px; }
.col2 { width: 140px; }
.col3 { width: 240px; }
.col4 { width: 340px; }
.col5 { width: 440px; }

.col1 img { max-width: 40px; }
.col2 img { max-width: 140px; }
.col3 img { max-width: 240px; }
.col4 img { max-width: 340px; }
.col5 img { max-width: 440px; }	